body {
  font-family: "fira code";
  background: rgba(15,15,15,255)
}

/* General Button stuff - placed at the top so we can overwrite with classes later eg headerBtn */
.roundBtn_noBorder, .roundBtn_noBorder_room {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.roundBtn {
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

/* .header {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-basis: 100%;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: inherit;
} */

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
  border-bottom: solid 0.5px;
  border-color: rgb(75, 71, 71);
  
}

.topnav {
  --clr: #ff6492;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  width: 100%;
  gap: 20px;
}

.nav-menu {
  position: relative;
  display: grid;
  grid-auto-columns: 5em;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
}

.nav-menu > :nth-child(1):hover::before {
  width: 83.5;
  filter: drop-shadow(0 0 25px var(--clr));
}

.nav-menu > :nth-child(3) {
  grid-column: 4;
}
.nav-menu > :nth-child(3):hover::before {
  width: 92.5;
  filter: drop-shadow(0 0 25px var(--clr));
}

.nav-menu a {
  font-size: 1.125em;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}
.nav-menu a:hover {
  background: transparent;
}
.nav-menu a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px var(--clr);
}

/* 
.headerBtn {
  z-index: 2000;
  color: white;
  font-size: 17px;
  border: none;
  margin-left: auto;
  padding: 0.35em;
  background-color: transparent;
  align-items: flex-end;
  justify-content: center;
} */
/* 
.headerBtn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 0.5em 0 var(317 100% 54%), 0 0 0.5em 0 rgb(235, 9, 171);
} */



.headerBtn:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 10px white);
}

/* Can either use this or footer1 whichever looks better */
.footer {
  z-index: 1000;
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  grid-column-gap: 4%;
  justify-content: space-around;
  position: fixed;
  margin-left: -2%;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: inherit;
  color: white;
  text-align: center;
}

.footer1 {
  z-index: 1000;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  border-top: solid 0.5px rgb(75,75,75);
}

.footer_item {
  align-self: center;
}

.feed {
  display: grid;
  background-color: inherit;
  margin-left: 100;
  margin-right: 100;
  margin-top: 150px;
  padding: 10;
  padding-bottom: 10%;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-columns: 24em 24em 24em;
  text-align: center;
}

.post {
  display: grid;
  grid-template-rows: 2.75em 25em 2em; 
}
/* .post:hover {
  box-shadow: 0 0 1em .125em rgba(255, 255, 255, 255);
} */
.post-top {
  background: rgba(0,0,0,255);
  display: flex;
  align-items: center;
  opacity: 0;
}
.profile-pic {
  display: flex;
  flex-direction: row;
  height: 2.75em;
  width: auto;
  align-items: center;
  
}
.profile-pic img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-left: 0.5em;
}
.account {
  color: white;
  padding-left: .5em;
}

@keyframes highlightPost {
  0% {
    transform: scale3d(1, 1, 0.5);
  }
  100% {
    transform: scale3d(1.15, 1.15, 1);
  }
  
}
@keyframes out {
  0% {
    transform: scale3d(1.15, 1.15, 1);
  }
  100% {
    transform: scale3d(1,1,0.5);
  }
}

.grid-item {
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.post-bar {
  display: grid;
  grid-template-columns: 5em 5em 5em;
  justify-content: space-around;
  background-color: rgba(0,0,0,255);
  text-align: center;
}

.post_img {
  margin-top: .125em;
  width: 24em;
  height: 25em;
  /* transition: transform 1s;
  transition-delay: 1s; */
}
/* .post_img:hover {
  transform: scale3d(1.15, 1.15, 1);
} */

.bar_img{
  width: 2em;
  height: 2em;
}


#logo {
  width: 130;
  height: 65;
  position: fixed;
  top: 0;
  transition: width 1s, height 1s;
}



.collabContainer {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
/* If the browser doesn't support backdrop filters then set it to none */
/* Add darkening around the borders of the popup so that its easier to tell where it starts and the background ends */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .collabContainer {
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(1rem);
  }
}

.collabContent {
  width: 650px;
  height: 800px;
  max-width: 100%;
  padding: 30px 50px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(29, 29, 29);
  color: blue;
}
.collabRoom {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0;
  margin: 0; */
  font-size: 28px;
}
#close, #closePosts, #closeSavedDesigns, #closePostSavedDesigns {
  position: fixed;
  top: 8%;
  right: 1%;
  padding: 5px 5px;
  border: none;
  background-color: transparent;
}

#startCollaborating, #addCollaborators {
  position: relative;
  top: 88%;
  left: 30%;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
#promptButtons, #promptAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.promptContainer {
  z-index: 1000;
  top: 40%;
  position: fixed;
  height: 200px;
  width: 400px;
  border-radius: 12px;
  background-color: red;
  display: none;
  align-items: center;
  justify-content: center;
}
.promptContent {
  padding: 30px 50px;
  max-width: 100%;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.postContent {
  width: 650px;
  height: 800px;
  max-width: 100%;
  padding: 30px 50px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(29, 29, 29);
  transition: all 5s ease-in-out;
}

@keyframes open {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.postData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImage {
  height: 50%;
  width: 648px;
  flex-direction: row;;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  /* position: absolute; */
  /* top: 10%; */
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid grey;
}

#selectImage {
  height: 50px;
  width: 25%;
  position: absolute;
  bottom: 50%;
  left: 38%;
  z-index: 9999;
  color: white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
#accept {
  height: 50px;
  width: 15%;
  position: absolute;
  left: 60%;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.postInfo {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 350px;
  /* bottom: 22%; */
  width: 650px;
}

#postName {
  width: 100%;
}
#postCaption {
  width: 100%;
  height: 100px;
}
#postTags {
  width: 100%;
  overflow-y: auto;
}
#post {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
}

textarea {
  resize: none;
}

.designContainer {
  width: 600px;
  height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}

.designContent {
  height: 300px;
  width: 648px;
  display: flex;
  /* position: absolute; */
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid grey;
}
.designImage {
  width: 105%;
  height: auto;
}
/* Likes stuff */
sup {
  vertical-align: top;
  font-size: 0.6em;
  /* margin-left: -10px; */
  color: white;
}


