body {
  font-family: "fira code";
  background: rgba(15,15,15,255);
  /* This hides the scrollbar for some browsers */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* General Button stuff - placed at the top so we can overwrite with classes later eg headerBtn */
.roundBtn_noBorder, .roundBtn_noBorder_room {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.roundBtn_noBorder.close {
  position: fixed;
  top: 8%;
  right: 1%;
  padding: 5px 5px;
  border: none;
  background-color: transparent;
}
.roundBtn {
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-color: white;
  border-radius: 12px;
}
.roundBtn:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}
.roundBtn1 {
  position: relative;
  width: 10%;
  height: 100%;
  background: white;
  border: none;
}

.headerBtn:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 10px white);
}

/* Can either use this or footer1 whichever looks better */
.footer {
  z-index: 1000;
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  grid-column-gap: 4%;
  justify-content: space-around;
  position: fixed;
  margin-left: -2%;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: inherit;
  color: white;
  text-align: center;
}

.footer1 {
  z-index: 1000;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  border-top: solid 0.5px rgb(75,75,75);
}

.footer_item {
  align-self: center;
}

.feed {
  display: grid;
  /* position: absolute; */
  background-color: inherit;
  margin-left: 100;
  margin-right: 100;
  margin-top: 150px; 
  padding: 10;
  padding-bottom: 10%;
  grid-gap: 100px;
  grid-template-columns: 24em 24em 24em;
  /* grid-template-rows: 29.75em; */
  text-align: center;
}

/* .item-found {
  left: 10px;
  top: 10px;
  border-radius: 50%;
} */

/* .feed > :nth-child(3n - 1) {
  border: solid red;
  left: calc(24em);
  top: 10px;
}
.feed > :nth-child(3n) {
  left: calc(24em + 24em + 110px + 100px);
  top: 10px;
  left: calc(24em + 110px);
  top: 10px;
}
.feed > :nth-child(3n-2) {
  left: 10px;
  top: 10px; 
} */

.post {
  display: grid;
  grid-template-rows: 2.75em 25em 2em;
  position: relative;
  transition: all 2s;
}

.liked-post {
  display: grid;
  position: relative;
  transition: all 2s;
  width: 384px;
  margin: auto;
  padding-top: 44px;
}

/* .post:hover {
  box-shadow: 0 0 1em .125em rgba(255, 255, 255, 255);
} */
.post-top {
  background: rgba(0,0,0,255);
  display: flex;
  align-items: center;
  opacity: 0;
}
.profile-pic {
  display: flex;
  flex-direction: row;
  height: 2.75em;
  width: auto;
  align-items: center;
  
}
.profile-pic img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-left: 0.5em;
}
.flag {
  display: flex;
  height: 2em;
  width: 2em;
  margin-left: auto;
  cursor: pointer;
}
.account {
  color: white;
  padding-left: .5em;
}
#commentsContainer {
  /* display: flex; */
  opacity: 0;
}
.comment-text {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid black; */
}

.collabContainer .opacity {
  opacity: 1;
  transition: all 1s;
}

@keyframes grow {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes opacity-reverse {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes showComments {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes highlightPost {
  0% {
    transform: scale3d(1, 1, 0.5);
  }
  100% {
    transform: scale3d(1.15, 1.15, 1);
  }
  
}
@keyframes out {
  0% {
    transform: scale3d(1.15, 1.15, 1);
  }
  100% {
    transform: scale3d(1,1,0.5);
  }
}

.grid-item {
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.post-bar {
  display: grid;
  grid-template-columns: 5em 5em 5em;
  justify-content: space-around;
  background-color: rgba(0,0,0,255);
  text-align: center;
}

.post_img {
  margin-top: .125em;
  width: 24em;
  height: 25em;
  cursor: pointer;
  /* transition: transform 1s;
  transition-delay: 1s; */
}
/* .post_img:hover {
  transform: scale3d(1.15, 1.15, 1);
} */

.bar_img{
  width: 2em;
  height: 2em;
  cursor: pointer;
}


#logo {
  width: auto;
  height: 5%;
  position: fixed;
  top: 0;
  transition: width 1s, height 1s;
}



.collabContainer {
  top: 0;
  left: 0;
  border-radius: 5%;
  border-color: rgb(15, 15, 15);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
/* If the browser doesn't support backdrop filters then set it to none */
/* Add darkening around the borders of the popup so that its easier to tell where it starts and the background ends */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .collabContainer {
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(1rem);
  }
}

.savedDesignTitle {
  font-family: inherit;
  font-size: 32px;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

/* Could probably abstract the containers of the scrollable content in the popups to one class */
.collabContent {
  width: 650px;
  height: 800px;
  max-width: 100%;
  padding: 30px 50px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(29, 29, 29);
  color: blue;
}

.collabList {
  width: auto;
  height: 85%;
  overflow: auto;

  /* This hides the scrollbar for some browsers */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* This customises the scrollbar for Chrome and other browsers */
.collabList::-webkit-scrollbar {
  width: 10px;
}

.collabList::-webkit-scrollbar-track {
  background-color: transparent;
}

.collabList::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}

.collabList::-webkit-scrollbar-thumb:hover {
  background-color: #0a0a0a;
}


#commentsContent {
  height: 80%;
  width: 30%;
}
.collabRoom {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0;
  margin: 0; */
  font-size: 28px;
}

#startCollaborating, #addCollaborators {
  position: relative;
  top: 2.5%;
  left: 30%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
}

#startCollaborating, #addCollaborators{
 
}

#promptButtons, #promptAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.promptContainer {
  z-index: 1000;
  top: 40%;
  position: fixed;
  height: 200px;
  width: 400px;
  border-radius: 12px;
  background-color: rgb(20,20,20);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
}
.promptContent {
  padding: 30px 50px;
  max-width: 100%;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.postContent {
  width: 650px;
  height: 800px;
  max-width: 100%;
  padding: 30px 50px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(29, 29, 29);
  transition: all 5s ease-in-out;
}

@keyframes open {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.postData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImage {
  height: auto;
  /* width: 648px; */
  /* 455px is the width and height of a design at 70% width */
  width: 85%;
  flex-direction: row;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  /* position: absolute; */
  /* top: 10%; */
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid grey;
  margin: auto;
  background-color: black;
}
/* This is the container for the comments */
.comments {
  height: 28%;
  width: 100%;
  /* border: 1px solid grey; */
  border-radius: 20px;
  color: white;
  overflow-y: auto;
  /* flex-direction: row;;
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid grey; */
}
/* This is the actual comment being shown under a post */
.comment {
  display: flex;
  gap: 1em;

}

#selectImage {
  height: 50px;
  width: 25%;
  position: absolute;
  bottom: 50%;
  left: 38%;
  z-index: 9999;
  color: white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
#accept {
  height: 50px;
  width: 15%;
  position: absolute;
  left: 60%;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.postInfo {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 350px;
  /* bottom: 22%; */
  width: 650px;
}

#postName {
  width: 100%;
}
#postCaption {
  width: 100%;
  height: 100px;
}
#postTags {
  width: 100%;
  overflow-y: auto;
}
#post {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
}

textarea {
  resize: none;
}

.designContainer {
  width: 600px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}

.designContent {
  height: 450px;
  width: fit-content;
  display: flex;
  margin: auto;
  /* position: absolute; */
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid grey;
}
.designImage {
  width: 105%;
  height: auto;
}
/* Likes stuff */
sup {
  vertical-align: top;
  font-size: 0.6em;
  /* margin-left: -10px; */
  color: white;
}

.friends-container {
  height: 90%;
  width: 15%;
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  background-color: inherit;
  position: fixed;
  top: 5%;
  left: 0;
  border-right: 1px solid rgb(75, 71, 71);
}

/* The div that holds the name and any other information eg add, decline etc.. */
.friend-content {
  height: 10%;
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(75, 71, 71);
  background-color: black;
  color: white;
  /* background-color: white; */
}
.friends, .friend-recommendations, .friend-requests {
  height: 33%;
  width: 100%;
  overflow-y: auto; /* Scroll bar if we have a lot of friends*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* @keyframes friends{
  0% {
    height: 0;
  }
  100% {
    height: 90%;
  }
} */
@keyframes friends-reverse{
  0% {
    height: 90%;
  }
  100% {
    height: 0;
  }
}
/* A small bar that splits the different sections of the friends container */
.friends-bar {
  width: 90%;
  height: 0.1%;
  background-color: rgb(75, 71, 71);
  border-radius: 10%;
  opacity: 0.75;
  margin-left: 5%; /* If we use 5% then we center the bar in the container horizontally */
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Next 3 classes are for the search bar at the top of the friends container */
.search-div {
  padding-bottom: 4%;
}
.search-bar {
  position: absolute;
  height: 2%;
  width: 90%;
  top: 1%;
  left: 5%;
  /* background-color: rgb(75, 71, 71); */
  border-radius: 5px;
  border: none;
  font-size: 12px;

}
.search-btn {
  position: absolute;
  width: 20%;
  top: 1%;
  left: 80%;
  color: black;
  /* background-color: rgb(75, 71, 71); */
  border-radius: 2px;
  border: none;
  font-size: 12px;
}
.no-round {
  border-radius: 0;
  padding: 0;
  margin: 0;
}
/* Accept and decline a friendship buttons */
.addFriend {
  height: 75%;
  width: 25%;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  background: rgb(100, 197, 100);
  color: black;
  border: none;
  border-right: solid 0.1px rgb(75, 71, 71);
}
.decline {
  height: 75%;
  width: 25%;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: 14px;
  color: black;
  background: rgb(236, 132, 132);
  border: none;
  border-left: solid 0.1px rgb(75, 71, 71);
}