body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 0;
  margin: 0;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: 600%;
  text-align: center;
}
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: 300%;
}
/* Css for tags on this page as its not used for anything else */
p {
  padding: 5px;
  margin: 2px;
  display: inline-block;
}
.feed {
  display: grid;
  /* position: absolute; */
  background-color: inherit;
  margin-left: 100;
  margin-right: 100;
  /* margin-top: 150px;  */
  padding: 10;
  padding-bottom: 10%;
  grid-gap: 100px;
  grid-template-columns: 24em 24em 24em;
  /* grid-template-rows: 29.75em; */
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(75,71,71);
}

.collabContainer {
  top: 0;
  left: 0;
  border-radius: 5%;
  border-color: rgb(15, 15, 15);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.collabContent {
  width: 650px;
  height: 800px;
  max-width: 100%;
  padding: 30px 50px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(29, 29, 29);
  color: blue;
}

.flag {
  display: flex;
  height: 2em;
  width: 2em;
  margin-left: auto;
  cursor: pointer;
}

.bar_img{
  width: 2em;
  height: 2em;
  cursor: pointer;
}
  
  
.post {
  display: grid;
  grid-template-rows: 2.75em 25em 2em;
  position: relative;
  transition: all 2s;
}

.grid-item {
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.post-top {
  background: rgba(0,0,0,255);
  display: flex;
  align-items: center;
  opacity: 0;
}

.profile-pic {
  display: flex;
  flex-direction: row;
  height: 2.75em;
  width: auto;
  align-items: center;
    
}
.profile-pic img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-left: 0.5em;
}
.account {
    color: white;
    padding-left: .5em;
}

.post-bar {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    justify-content: space-around;
    background-color: rgba(0,0,0,255);
    text-align: center;
}
.post_img {
    margin-top: .125em;
    width: 24em;
    height: 25em;
    cursor: pointer;
    /* transition: transform 1s;
    transition-delay: 1s; */
}

  
.profile_pic img{
    height: 200px;
}

.profile_pic {
    height:200px;
    width:200px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
/* Hides the buttons related to choosing and uploading a profile picture */
#file{
    display:none;
}
#submit {
    display: none;
}

/* Styling for the labels representing the buttons for choosing and uploading a PP
Added a border around the text using text-shadow so that we can see the text no matter what the background of the image we uploading is */
#uploadBtn{
    height: 40px;
    width: 10%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 25%;
    text-align: center;
    background: transparent;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: none;
    
}
#finishBtn {
    height: 40px;
    width: 10%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 58%;
    text-align: center;
    background: transparent;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: none;
}
/* Centering username for profile page */
.username {
  /* padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white; */
}

.separator {
  height: 1px;
  width: 90%;
  margin-left: 5%;
  position: absolute;
  top: 50%;
  border-top: 1px solid rgb(75,71,71);
}

.help {
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 6%;
  /* align-items: center; */
}
/* Buttons for adding friend and making a mod container */
.profile-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 2.5%;
  margin-bottom: 5%;
}
/* Buttons for making mods and adding friends */
.mod, .add-friend {
  height: 50px;
  width: 150px;
  background: black;
  border: 1px solid rgb(75,71,71);
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
  color: white;
  position: relative;
}
.mod {
  display: none;
}

/* Likes stuff for superscript likes counter*/
sup {
  vertical-align: top;
  font-size: 0.6em;
  /* margin-left: -10px; */
  color: white;
}

.nav-menu > :nth-child(1):hover::before {
  width: 66;
  filter: drop-shadow(0 0 25px var(--clr));
}
.nav-menu > :nth-child(2):hover::before {
  width: 84;
  filter: drop-shadow(0 0 25px var(--clr));
}
.nav-menu > :nth-child(3):hover::before {
  width: 88;
  filter: drop-shadow(0 0 25px var(--clr));
}
.nav-menu > :nth-child(4):hover::before {
  width: 93;
}
.nav-menu > :nth-child(5):hover::before {
  width: 93;
  filter: drop-shadow(0 0 25px var(--clr));
}

.text {
  display: block;
}