body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text CSS */
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: white;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 500%;
}

button:hover {
  cursor: pointer;
}

/* Landing page text CSS */
.comp_txt {
    overflow:hidden;
    text-decoration: none;
}

.comp_txt h2 {
    font-size: 60px;
    position: fixed;
    margin-left: 20px;
    top: 150px;
}

.comp_txt p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: fixed;
    margin-left: 20px;
    top: 470px;
    font-weight: lighter;
    
}

/* Landing page buttons CSS */
.topnav {
  overflow: hidden;
  background-color: black;
  border-bottom: 0;
  text-decoration: none;
}

.topnav img {
  width: 150;
  height: 75;
  margin-left: 20;
  position: fixed;
  top: 20px;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.start_button button{
  border: none;
  background-color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
  position: fixed;
  top: 630px;
  transition-duration: 0.4s;
}

.start_button button:hover{
    color: white;
    background-color: inherit;
    border: 2px solid white;
}

/* Button CSS for collab room */
.collabBtn{
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-top: 1%;
    text-align: center;
}

/* CSS for upper and lower section of collab room */
.collabRoomHeaderFooter{
    width: 100%;
    height: 12.5%;
    position: fixed;
    /* overflow:hidden; */
}

/* Users in the top right of the collab rooms */
.participants {
  padding: 5px;
  margin-top: 1.75%;
  float: right;
  font-size: 24px;
  color: white;

}
/* Images for users */
.participants img {
  height: 4vh;
  width: auto;
  background-color: transparent;
  display: block;
}

#colourThicknessSelect{
  z-index: 3;
  top: 12.5%;
  position: absolute;
  background-color: white;
  border: 3px solid black;
  left: 5
}

#toolSelect {
  background-color: white; 
  border: 3px solid black; 
  position: absolute; 
  z-index: 3;
  left: 5px;
  top: 30%;
}

#toolSelect table tr td button{
  width: 50px;
  height: 50px;
  color: black;
}

#toolSelect table tr td button img {
  width: 50px;
  height: auto;
}

.collabBtn img{
  height: 5vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

